.navigation {
    display: flex;
    align-items: center;
}

.navigation__menu {
    display: flex;
    align-items: center;
}

.navigation__link {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.navigation__link:hover {
    opacity: .7;
}

.active-link {
    font-weight: 500;
}

.navigation__link_account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 16px;
    margin-left: 50px;
}

.navigation__account-icon {
    width: 30px;
    height: 30px;
    margin-left: 13px;
}

.navigation__links {
    display: flex;
    align-items: center;

}

@media screen and (max-width:768px) {
    .navigation {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        padding: 134px 0 90px 0;
        justify-content: space-between;
        align-items: center;
        width: 67%;
        background-color: #fff;
        z-index: 100;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;

    }

    .navigation.open {
        transform: translateX(0);
    }

    .navigation__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        justify-content: space-between;
        height: 100%;
    }

    .navigation__links {
        flex-direction: column;
    }

    .navigation__link {
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 27px 0 5px;
        margin: 0;
        text-align: center;
    }

    .active-link {
        display: block;
        padding-bottom: 4px;
        border-bottom: 2px solid;
    }

    .active-link:last-child {
        border-bottom: none
    }

    .navigation__link_account {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    .navigation {
        padding: 122px 0 90px 0;
        width: 100%;
    }

    .navigation__link {
        padding: 24px 0 6px;
    }

    .navigation__link_account {
        margin-top: 410px
    }
}