.search-form {
    display: grid;
    grid-template-columns: 1fr 20%;
    border-radius: 9px;
    background: #FDFDFD;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    max-width: 1140px;
    min-height: 72px;
    margin: 70px auto 69px;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.search-form__container {
    display: flex;
    min-height: 72px;
    justify-content: space-between;
    align-items: center;
}

.search-form__input {
    display: flex;
    margin-left: 20px;
}

.search-form__search-icon {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.search-form__search-input {
    border: none;
    background: none;
    color: #A0A0A0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    width: 90%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s ease-in-out;
}

.search-form__search-input:focus:hover {
    border-bottom: 1px solid #3456F3;
}

.search-form__search-input:focus {
    border-bottom: 1px solid transparent;
}

.search-form__button {
    border-radius: 48px;
    border: none;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 12.35px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    height: 34px;
}

.search-form__button:hover {
    opacity: .8;
}

.search-form__checkbox {
    display: flex;
    align-items: center;
    border-left: 1px solid #CBCBCB;
    padding: 0 30px;
    min-height: 40px;
}

.search-form__filter-label {
    margin-left: 14px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width:768px) {
    .search-form {
        margin: 80px 30px 108px;
        grid-template-columns: 1fr 208px;
    }

    .search-form__checkbox {
        margin-left: 0;
        padding-left: 19px;
    }

    .search-form__container {
        grid-template-columns: 1fr 78px;
    }
}

@media screen and (max-width:320px) {
    .search-form {
        grid-template-columns: 1fr;
        margin: 80px auto 0;
        max-width: 300px;
        box-shadow: none;
        background: transparent;
    }

    .search-form__input {
        margin-left: 19px;
    }

    .search-form__search-icon {
        display: none;
    }

    .search-form__search-input {
        font-size: 14px;
    }

    .search-form__filter-label {
        margin-left: 14px;
        font-size: 11px;
    }

    .search-form__checkbox {
        justify-content: center;
        border: none;
        min-height: 76px;
        padding-left: 30px;
        padding-bottom: 16px;
    }

    .search-form__container {
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        background: #FDFDFD;
    }

    .search-form__button {
        margin-right: 19px;
    }

}