.saved-movies {
    padding: 0 30px;
}

.saved-movies__content {
    margin-bottom: 261px;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 181px;
}

.saved-movies__container {
    display: grid;
    justify-items: center;
    padding-top: 81px;
    border-top: 1px solid #E8E8E8;
    max-width: 1140px;
    margin: 0 auto;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .saved-movies__content {
        margin-bottom: 0px;
        padding-bottom: 128px;
    }

    .saved-movies__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .saved-movies__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

@media screen and (max-width: 320px) {
    .saved-movies {
        padding: 0 10px;
    }

    .saved-movies__content {
        margin-bottom: 65px;
    }

    .saved-movies__container {
        padding-top: 50px;
        margin: 0 auto;
    }
}